.Banner{
    height: 100%;
    width: 100%;
}

.Preview-timeline{
  border-radius : 50% !important;
  width: 40px;
  height: 40px;
  float:left;
  margin-left:15px;
}

.Preview-timeline-Brand-Notif{
  border-radius : 50% !important;
  width: 40px;
  height: 40px;
  float:left;
  margin-left:15px;
  border: 2px solid #FF9F11;
}

.Preview-timeline-Brand-Notif-Modal{
  border-radius: 50% !important;
  width: 80px;
  height: 80px;
  margin-bottom: 2em;
  border: 2px solid #FF9F11;
}

.Preview-timeline-BackOffice-Notif-Modal{
  border-radius: 50% !important;
  width: 80px;
  height: 80px;
  margin-bottom: 2em;
}

.Circle{
  width: 250px !important;
  height: 200px;
  border-radius: 50% !important;
  margin-bottom: 2em;
}

.Circle-min{
  width: 140px !important;
  height: 120px;
  border-radius: 50% !important;
  margin-bottom: 2em;
}

.Circle-min-profilo{
  width: 140px !important;
  height: 120px;
  border-radius: 50% !important;
  margin-bottom: 2em;
  cursor : pointer;
}

.Circle-min-anima{
  width: 100px !important;
  height: 100px;
  border-radius: 50% !important;
}

.Circle-min-Preview{
  width: 70px !important;
  height: 70px;
  border-radius: 50% !important;
}

.Square{
  width: 250px;
  height: 250px;
  margin-bottom: 2em;
}

.Rectangle-min{
  width: 90%;
  height: 98%;
  margin-top: 0.2em;
  top : 10%;
  margin-bottom: 2em;
}

.Rectangle-min-lifedrop{
  width: auto;
  height: 62px;
}

.Rectangle{
  width: 99%;
 /* height: 80%;*/
  margin-top: 0.2em;
  top : 10%;
  margin-bottom: 2em;
}

.NotifTimeline{
    margin-top: 0.2em;
    margin-bottom: 2em;
    width: 140%;
    position: relative;
    left: -20%;
}

.Timeline{
  width: 80% !important;
  height: 10em;
  left : 10%;
}
.photoDirWrapperButton{
  min-height: 8em;
  position: absolute;
}

.uploadPhotoSx{
  border-left: 0.5px solid !important;
  height: 85px;
  cursor: pointer;
}

.uploadPhotoDx{
  border-right: 0.5px solid !important;
  height: 85px;

}

.photoDirWrapperBody{
  min-height: 8em;
}

.photoDirButtonModal{
  height: 6em;
  padding-right: 2em;
  line-height: 1em;
}
.fileUploadPhotoDirective{
  padding-top: 2.5em !important;
  text-align: center;
  min-height: inherit;
}

.colorSpanNoLink{
  color: #337ab7;
}
.colorSpanNoLink:hover {
  color: #23527c;
}

#uploadedImg{
  height: 80%;
}

video {
  transform-origin: -250px !important;
  margin-left: 45px;
  text-align : center;
}

#closeEditImage{
  margin: 2em 0em;
}

#ng-camera-action{
  margin-bottom: 2em;
}

/*countdown foto Style*/
.tick{
  font-size: 20px;
}

.inlineView{
  display: none;
}

.inlineImage-0{
    height: 25em;
    margin-bottom: 2em;
    border: 2px groove;
    padding: 0.2em;
    border-radius: 0px;
    display: inline;
    margin-right: 1em;
}

.inlineImage-1{
  /* height: 10em; */
  position: relative;
  width: 100%;
  /* padding: 0.2em; */
  border-radius: 0px;
  /* display: block !important; */
}

.inlineImage-2{
  position: relative;
  width: 100%;
  border-radius: 0px;
  /*opacity: 0.4;
  filter: alpha(opacity=40);*/
  color: #000;
  background-color: black;
}

.SquareMinGalleryInlineModal{
  width: 250px;
  height: 250px;
  position: relative;
  top: -50%;
  left: -50%;
}

.GalleryProductAnimaCommerciale{
/*  height: 20em; */
    width: 125%;
    margin-bottom: 1em;
    position: relative;
    /* border: 2px groove; */
    /* padding: 0.2em; */
    border-radius: 0px;
    left: -16px;
}
