<div id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 class="modal-title"> Snap </h3>
  </div>
  <div class="modal-body">
    <ng-camera countdown="3" output-height="160" output-width="213" viewer-height="320" viewer-width="426" image-format="jpeg" jpeg-quality="100" action-message="Scatta" snapshot="vm.profilo.avatar" flash-fallback-url="/vendors/webcamjs/webcam.swf"
    name="avatar-user"></ng-camera>

    <img ng-if="vm.profilo.avatar" ng-src="{{vm.profilo.avatar}}" alt="webcam picture"id="ImgUser"/>
    <button id="closeEditImage" closeEditImage class="closeEditImage btn btn-info" class="close" data-dismiss="modal" ng-click="vm.putAndSaveWeb()">Save</button>
  </div>
</div>
